[core]
    autocrlf = false
    eol = lf
    filemode = false
    ignorecase = true
    excludesfile = ~/.gitignore_global
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = true
[alias]
    co = checkout
    ci = commit
    st = status -sb
    br = branch -a
    del = branch -d
    delete = branch -D
    lg = log --decorate
    ll = log --oneline --all --graph --decorate
    today = log --since yesterday
    wd = diff --word-diff
    difff = diff HEAD
    up = pull --rebase --prune
    get = fetch --prune
    getall = remote update --prune
    follow = merge upstream/master
    unstash = stash pop
    ready = diff --check
[include]
    path = ~/.gitconfig_private
[push]
    default = simple

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
