[core]
    autocrlf = false
    eol = lf
    filemode = false
    ignorecase = true
    excludesfile = ~/.gitignore_global
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = true
[alias]
    co = checkout
    ci = commit
    st = status -sb
    br = branch -a
    lg = log --decorate
    ll = log --oneline --all --graph --decorate
    wd = diff --word-diff
[include]
    path = ~/.gitconfig_private
