[core]
	autocrlf = false
	filemode = false
	ignorecase = true

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[alias]
	lg = log --decorate
	st = status -sb
	wd = diff --word-diff

[include]
	path = 